@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --drop-color: theme("colors.violet.500");
    --tile-border-color: theme("colors.slate.500");
    --tile-bg-color: theme("colors.violet.200");
  }
  .button {
    @apply bg-violet-500 p-2 rounded-md font-medium m-2 min-w-32 border-2 border-violet-800 text-white;
  }
  .tile {
    @apply border-2 app-border rounded-lg flex flex-col justify-center h-16 mb-2 bg-violet-200 cursor-pointer;
  }

  .tiles-grid {
    @apply grid-cols-2 !important;
  }

  .app-border {
    @apply border-2 border-slate-500;
  }

  .error {
    @apply border-2 !border-red-600 focus:outline-none;
  }

  .form-input {
    @apply px-2 h-[2.5rem] app-border rounded-md;
  }

  .error-message {
    @apply text-red-600 text-[0.9rem] my-1;
  }
}
